{% if skill_code == "ce" %}
<svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
  <path d="M6.5 3.5h7l4 4v13h-11z"/>
  <path d="M13.5 3.5v4h4M9.5 11h5M9.5 14h5M9.5 17h3"/>
</svg>
{% elif skill_code == "co" %}
<svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
  <path d="M5 13v-1a7 7 0 0 1 14 0v1"/>
  <path d="M5 13h2.5v6H6a2 2 0 0 1-2-2v-2a2 2 0 0 1 1-1.73M19 13h-2.5v6H18a2 2 0 0 0 2-2v-2a2 2 0 0 0-1-1.73M16.5 19c-.75 1-1.9 1.5-3.5 1.5"/>
</svg>
{% elif skill_code == "ee" %}
<svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
  <path d="M6.5 3.5h7l4 4v4.25M13.5 3.5v4h4M6.5 3.5v17h6M9.5 11h4"/>
  <path d="m10 19.5.75-3 6.75-6.75 2.25 2.25L13 18.75zM16.5 10.75l2.25 2.25"/>
</svg>
{% elif skill_code == "eo" %}
<svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
  <rect x="9" y="3" width="6" height="11" rx="3"/>
  <path d="M6.5 11.5a5.5 5.5 0 0 0 11 0M12 17v3.5M9.5 20.5h5"/>
</svg>
{% endif %}
